@media (min-width:650px){
  :root {
    --color-background: var(#fff3f0);
    --color-primary: var(#ff6887);
    --font-micro: 6px;
    --font-head: 20px;
    --font-body: 15px;
  }
  .App{
    width:640px;
  }
}
@media (max-width:650px){
  :root{
    /* Font size */
    --font-micro: 4px;
    --font-head: 15px;
    --font-body: 8px;
}

  .App{
    width:80vw;
  }
  .Header__mid{
    transform: scale(0.6);
  }
  .Header__bottom span{
    display: block;
  }

  .ContentBoxList{
    width:90%;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Category__innerSection{
    transform: scale(0.8);
  }
  .Category__subscribe{
    transform: scale(0.5);
  }
  .Category__searchBar{
    transform: scale(0.8);
  }

  .Community__header{
    width:80vw;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .Community__categorybtns{
    width:80vw;
  
  }
  .InterviewDiv__head{
   margin:0px auto;
    font-size:var(--font-body);
    width:100%;
    transform: translateX(-40%);
  }
  .InterviewDiv__head div{
   margin:0 auto;
  }
}

@font-face {
  font-family: "kopubdotumlight";
  font-weight: 50;
  src: url("./Fonts/KOPUBDOTUMLIGHT.woff") format("truetype");
}


/*App*/
.App {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
}
/*Header*/f
.Header {

}

.Header_top {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.Header_right {
  display: flex;
  align-items: center;

}
/* 
.Header .divider {
  position: absolute;
  bottom: 0;
  text-align: center;
  border: 1px solid gray;
  width: 60%;
  height: 1px;
  vertical-align: center;
  transform: translateX(22%);
  height: 1px;
  align-items: center;

} */

.Header__mid {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;

}
.Header .divider{
  display: flex;
  width:80%;
}


.Header .divider__innerDivider{
  width:100%;
  margin-left: 20px;
  margin-right: 20px;
  height: 1cm;
  border-bottom:1px solid gray;
}

.Header__bottom {
  border-top: 8px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  font-family: "kopubdotumlight";
  padding:5px 0;
}

/*IconText*/
.IconText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconText__text {
  font-family: "kopubdotumlight";
  white-space:nowrap;
  font-size:var(--font-body);
  margin-left: 0;
}

.Banner {
  border-bottom: 1px solid gray;
  overflow:hidden;
    margin:0 auto;
}

.Banner .Banner__thumbnail{
  width:100%;
  height:100%;
  object-fit:cover;
}

/*Interview */
.Interview {
  margin-bottom: 50px;
}
.Interview__innerSection {
  align-items: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


/*.InterviewDiv */

.InterviewDiv {
  border: 1px solid gray;
  font-family: "kopubdotumlight";
  width: 30%;
  height: auto;
}

.InterviewDiv .InterviewDiv__head {
  font-family: "kopubdotumlight";
  font-size: var(--font-head);
  font-weight: 600;
  text-align: center;
  margin: 30px 60px;
}

.InterviewDiv .InterviewDiv__body {
  font-family: "kopubdotumlight";
  font-size:var(--font-body);
  margin: 30px 30px;
}

/*Category*/

.Category {
  margin: 30px 0;
  display: flex;
  justify-content: space-between; 
}
.Category__innerSection {
  flex-shrink: 1;
  display: flex;
 
  justify-content: space-between;
  width: 30%;
}
.Category__searchBar {
  align-items: center;
  position: relative;
  flex-shrink: 3;
  flex-basis: 500px;
}
.Category__subscribe {
  flex-shrink: 1;
  width: 30%;
}

/*SearchBar*/
.SearchBar {
  height: 30px;
  align-items: center;
  position: absolute;
  left: 30px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  bottom: 30px;
  width: 100%;
}

.SearchBar__div{
  margin: 0 10px;
  font-size:var(--font-head);
}
.Subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Subscribe .Subscribe__innerDiv {
  display: flex;
  justify-content: center;
}

/*Footer*/
.Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: var(--font-micro);
  margin-bottom: 20px;
}

.Footer .divider {
  border-top: 1px solid gray;
}

.Footer__left {
  width: 50%;
  font-family: "kopubdotumlight";
}

/*ContentBox*/
.ContentBox {
  padding: 20px;
  border: 1px solid gray;
  width: calc(25% - 42px);
}

.ContentBox .ContentBox__head {
  font-weight: 700;
  margin: 10px;
  font-size: var(--font-head);
}

.ContentBox .ContentBox__body {
  font-size: var(--font-body);
  margin: 10px;
}
.ContentBox .ContentBox__date {
  font-size: var(--font-micro);
  margin: 10px;
}

/*ContentBoxList*/

.ContentBoxList {
  width:100%;
  align-items: flex-start;
  text-align: center;
  margin : 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* 
.ContentBoxListContainer{
  display: flex;
  justify-content: center;
  margin:0 auto;
  align-items: center;
} */

.ContentBoxList__innerSection__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px auto;
}

.ContentBoxList__innerSection__footer__head{
  font-size:var(--font-body);
}



/*Community*/
.Community {
  margin: 20px 0;
}

.Community .Community__innerSection {
  padding: 20px;
  border: 1px solid gray;
}


.Community__header{
  display: flex;
  margin-bottom:30px;

}

.Community__categorybtns{
  height:70px;
  font-family: "kopubdotumlight";
  display: flex;
  align-items: center;
  margin:0 auto;
}

.Community__categorybtn{
  height:50px;
  border:1px solid gray;
  font-size: var(--font-body);
  padding: 2px 7px;
  width:130px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-self: center;
}
/*CommunityBox*/
.CommunityBox {
  padding: 10px;
  border-bottom: 1px dotted gray;
  padding-bottom:20px;
  
}

.CommunityBox__head {
  font-family: "kopubdotumlight";
  font-weight: 700;
  font-size: var(--font-head);
  margin-bottom:10px;
}
.CommunityBox__body__text {
  font-size: var(--font-body);
  font-family: "kopubdotumlight";
}

.CommunityBox__body__date {
  font-size: var(--font-micro);
  float:right;
  align-items: center;
  font-family: "kopubdotumlight";
}

